img {
  width: 200px;
  height: auto;
  aspect-ratio: 4/3;  /* Assuming this is for the normal image display */
}

.profile-image:hover {
  opacity: 0.7;
  cursor: pointer;
}

body {
  /* Add background styles here (color or image) */
  background-color: #39FF14;
}

.columns {
  display: flex; /* Activate Flexbox layout */
  flex-wrap: wrap; /* Allow columns to wrap if needed */
}

.column {
  flex: 1; /* Distribute available space equally */
  padding: 1rem; /* Add some padding for content */
}