img {
  width: 200px;
  height: 200px;
}

.profile-image:hover {
  opacity: 0.8;
  cursor: pointer;
  color: whitesmoke;
}

body {
  /* Add background styles here (color or image) */
  background-color: #39FF14;
}

.columns {
  display: flex; /* Activate Flexbox layout */
  flex-wrap: wrap; /* Allow columns to wrap if needed */
}

.column {
  flex: 0 0 30%; /* Set a fixed width of 30% for each column */
  padding: 1rem; /* Add some padding for content */
}

.custom-main {
  background-color: #96DED1;
}