---
layout: layouts/base.hbs
pageTitle: About This Project
pageColor: about
---
<p class="text-lg">This project is a showcase of neighborhood cats and plants, built using Eleventy and Tailwind CSS.</p>
