---
layout: layouts/base.hbs
pageTitle: About This Project
pageColor: about
---
<div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-8">
    <img src="/images/profile-photo.jpg" alt="Profile Photo" class="w-48 h-48 rounded-full object-cover shadow-lg">
    <h2>AzothShoal</h2>
</div>
<p class="text-base md:text-lg">If one wants to be active, one mustn't be afraid to do something wrong sometimes, not afraid to lapse into some mistakes. To be good — many people think that they'll achieve it by doing no harm — and that's a lie…</br> 
That leads to stagnation, to mediocrity. Just slap something on it when you see a blank canvas staring at you with a sort of imbecility.”</br>
― Vincent Van Gogh</p>

<h2 class="text-2xl font-bold mt-8 mb-4">Technical Details</h2>
<ul class="list-disc list-inside text-lg space-y-2">
  {{#each technicalDetails}}
    <li>
      <a href="{{this.url}}" class="text-primary-about hover:underline">{{this.name}}</a>, {{this.description}}
    </li>
  {{/each}}
</ul>
