---
layout: layouts/base.hbs
pageTitle: Welcome
pageColor: main
---
<p class="text-lg">Please check out my site showcasing neighborhood cats and plants. Use the sidebar to navigate to different pages.</p>

</br>
    <img src="/images/intention.jpg" alt="Intention" class="w-48 h-48 rounded-full object-cover shadow-lg">
</br>

<p>“Be like water making its way through cracks. Do not be assertive, but adjust to the object, and you shall find a way around or through it. If nothing within you stays rigid, outward things will disclose themselves.</br></br>

Empty your mind, be formless. Shapeless, like water. If you put water into a cup, it becomes the cup. You put water into a bottle and it becomes the bottle. You put it in a teapot, it becomes the teapot. Now, water can flow or it can crash. Be water, my friend.”</br>
- Bruce Lee
</p>
