---
layout: layouts/base.hbs
pageTitle: Welcome
pageColor: main
---
<p class="text-base md:text-lg">Please check out my site showcasing neighborhood cats and plants. Use the sidebar to navigate to different pages.</p>

<div class="mt-4 md:mt-8 flex justify-center">
  <img src="/images/intention.jpg" alt="Intention" class="w-32 h-32 md:w-48 md:h-48 rounded-full object-cover shadow-lg">
</div>

<p class="mt-4 md:mt-8 text-sm md:text-base">
  "Be like water making its way through cracks. Do not be assertive, but adjust to the object, and you shall find a way around or through it. If nothing within you stays rigid, outward things will disclose themselves.
  
  Empty your mind, be formless. Shapeless, like water. If you put water into a cup, it becomes the cup. You put water into a bottle and it becomes the bottle. You put it in a teapot, it becomes the teapot. Now, water can flow or it can crash. Be water, my friend."
  - Bruce Lee
</p>
