---
layout: layouts/base.hbs
pageTitle: Welcome to My Site
pageColor: main
---
<p class="text-lg">Welcome to my site showcasing neighborhood cats and plants. Use the sidebar to navigate to different pages.</p>
